body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}
@media only screen and (max-width: 1000px) {
  main {
    flex-direction: column !important;
  }
  .hero img {
    height: 400px !important;
  }
  .underImages {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .kaufenBtn {
    width: 100% !important;
    justify-content: center !important;
    display: flex !important;
    margin: 0px !important;
    margin-top: 30px !important;
  }
}
a {
  text-decoration: none;
}
nav {
  padding: 4px;
  border-bottom: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
  height: 44px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}

nav a {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  position: relative;
}
nav a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav img {
  height: 40px;
}
main {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

main img {
  height: 600px;
}

.aboutArticle {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.aboutArticle h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0px;
  margin: 0px;
  margin-bottom: 8px;
}
.titelDisc {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.aboutArticle span {
  font-family: sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rating {
  height: 18px;
}

.preisUndVersand {
  display: flex;
  margin-top: 40px;
}

.preis {
  color: rgb(90, 90, 90);
}

.color {
  border-radius: 34px;
  width: 34px;
  height: 34px;
  background-color: rgb(63, 180, 226);
}

.kaufenBtn {
  margin: 20px;
  display: flex;
  border-radius: 20px;
}

.kaufenBtn a {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  border-radius: 10px;
}

.kaufenBtn a:hover {
  background-color: rgb(53, 53, 53);
  cursor: pointer;
  transition: border 0.3s cubic-bezier(0.39, 0.575, 0.565, 1),
    box-shadow 0.3s cubic-bezier(0.39, 0.575, 0.565, 1),
    color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1),
    background 0.3s cubic-bezier(0.39, 0.575, 0.565, 1),
    box-shadow 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.underImages {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}
.moreImgs {
  margin-bottom: 14px;
  height: 400px;
}
